* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
body > div:first-child {
  height: 100vh;
}
a:hover {
  color: rgba(0, 0, 0, 0.4);
  transition: linear 1s;
}
.lista {
  display: grid;
  column-gap: 1rem;
  padding-left: 1.2rem;
  justify-content: center;
  align-items: center;
  grid-template: 'home faq inscricoes inscricoes' 1fr;
}
a:active {
  text-decoration: underline solid #3482fb 2px;
  text-underline-offset: 0.4rem;
  transition: linear 0.1ms;
}
svg {
  color: rgba(0, 0, 0, 0.8);
  transition: linear 1s;
  padding-top: 0.2rem;
}
svg:hover {
  color: rgba(50, 150, 150, 0.7);
}

.login {
  padding-top: 0.3rem;
}
/* FONTS 
font-family: 'Poppins', sans-serif;
font-family: 'Redressed', cursive;
font-family: 'Roboto', sans-serif;
*/ ;
